/*! Article */

//
// Article
//
.article {
  margin: 0;

  & > *:first-child {
    margin-top: 0;
  }
}

//
// Aside
//
aside {
  @include mappy-bp(small) {
    float: left;
    width: vr(10);
    margin: vr(.25) vr(1) vr(1) 0;
  }
}

//
// Figure
//

figure {
  font-size: 0;
  margin: vr(1) vr(-.5) 0 vr(-.5);

  img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
  }


  @include mappy-bp(medium) {
    margin: vr(1) 0 0 0;

    img {
      border-radius: $primary-border-radius;
    }
  }
}


//
// Highlights
//
.highlights {
  margin: vr(1) 0;
  padding-bottom: vr(1);
  border-bottom: 1px dotted $shark;

  & > *:first-child {
    margin: 0px;
  }
}

