/*! Buttons */

.btn, button, .button, [data-role="button"], [type="button"], [type="submit"] {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-radius: $primary-border-radius;
  transition: all .2s ease-in-out;
  background-color: $electric-blue;
  margin: 0;
  padding: 0 vr(.75);
  color: $white;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
    }
  }

  &,
  &:focus,
  &.focus,
  &:hover {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
    //@include box-shadow($btn-active-box-shadow);
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    opacity: .65;
    box-shadow: none;
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

.btn {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
/*.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}*/

//
// Button Sizes
//

.btn-lg {
  padding: vr(.25) vr(1.5);
}
.btn-sm {
  padding: 0 vr(.5);
  margin-top: vr(-.25);

  @include mappy-bp(large) {
    margin-top: vr(-.125);
  }
}


//
// Block button
//

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: vr(.5);
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
