/*! Forms */

fieldset {
  padding: 0px;
  border: none;
  margin: vr(.5) 0 0 0;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], input[type=file],textarea, select {
  border: 1px solid $silver-sand;
  border-radius: $primary-border-radius;
  display: block;
  width: 100%;
  height: 38px;
  outline: none;

  &:focus {
    border-color: $form-focus-border-color;
  }

  &:disabled {
    cursor: $cursor-disabled;
    background: $form-disabled-background-color;
  }

  @include mappy-bp(small) {
    display: inline;
    min-width: vr(9);
    width: auto !important;
    width: initial;
  }

  @include mappy-bp(medium) {
    min-width: vr(10);
    width: auto !important;
    width: initial;
  }

  @include mappy-bp(large) {
    height: 47px;
  }
}

textarea {
  height: auto;

  @include mappy-bp(small) {
    min-width: vr(13);
    width: auto !important;
    width: initial;
  }

  @include mappy-bp(medium) {
    min-width: vr(15);
    width: auto !important;
    width: initial;
  }
}

select {
  /*appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;*/
  background: $white;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

.form-group,
.checkbox,
.radio {
  margin: vr(.75) 0 0 0;
}


.form-control {
  margin: vr(.75) 0 0 0;
}

.form-stacked {
  label {
    display: block;
    margin: vr(.25) 0 0 0;
  }

  input, textarea, select {
    margin: vr(.25) 0 0 0;
  }
}

.form-aligned {
  label {
    display: block;
    margin: vr(.25) 0 0 0;

    @include mappy-bp(small) {
      display: inline-block;
      width: vr(4);
      margin: 0 vr(.5) 0 0;
      text-align: right;
    }
  }

  input, textarea, select {
    display: inline-block;
    margin: vr(.25) 0 0 0;

    @include mappy-bp(small) {
      margin: 0;
    }
  }

  .form-control,
  .checkbox,
  .radio {
    label {
      text-align: left;
    }

    @include mappy-bp(small) {
      &:before {
        content: "";
        width: vr(4);
        display: inline-block;
        margin: 0 vr(.5) 0 0;
      }
    }
  }
}

.form-inline {
  @include mappy-bp(small) {
    .form-group,
    .form-checkbox,
    .form-control {
      display: inline-block;
      margin: 0 vr(.25) 0 0;
    }
  }
}

input[type="checkbox"], input[type="radio"] {
  margin: 0 vr(.25) 0 0;
  vertical-align: baseline;
}
