@charset "UTF-8";

@font-face {
  font-family: "fcc-icons";
  src:url("../font/fcc-icons.eot");
  src:url("../font/fcc-icons.eot?#iefix") format("embedded-opentype"),
    url("../font/fcc-icons.woff") format("woff"),
    url("../font/fcc-icons.ttf") format("truetype"),
    url("../font/fcc-icons.svg#fcc-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fcc-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fcc-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\64";
}
.icon-youtube:before {
  content: "\65";
}
.icon-facebook:before {
  content: "\66";
}
.icon-linkedin:before {
  content: "\67";
}
.icon-podcast:before {
  content: "\68";
}
.icon-rss:before {
  content: "\69";
}
.icon-external:before {
  content: "\6c";
}
.icon-ios-arrow-right:before {
  content: "\6d";
}
.icon-ios-arrow-down:before {
  content: "\63";
}
.icon-link:before {
  content: "\61";
}
.icon-ios-arrow-up:before {
  content: "\62";
}
.icon-ios-arrow-left:before {
  content: "\6a";
}
