/*! Layout */

$susy: (
  columns: 12,
  container: $container-width,
  global-box-sizing: border-box,
  gutters: 1/2,
  math: fluid,
  output: float,
  gutter-position: outside,
  debug: (
    image: hide,
    output: background
  )
);

//
// Body
//

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

//
// Header
//

header {
  a {
    border-bottom: none;
    color: $white;
  }
}

header.sm {
  @include mappy-bp(medium) {
    display: none;
  }

  & > div:first-child {
    position: relative;
    background: $stargazer-blue;
    height: $nav-main-height;
    line-height: $nav-main-height;
    vertical-align: middle;
    text-align: center;

    .logo {
      display: inline-block;
      height: vr(1);
      width: auto;
      line-height: $nav-main-height;
      vertical-align: middle;
      margin-top: -3px;
    }

    .nav-btn {
      position: absolute;
      top: 10px;
      left: 15px;
    }

    .lang {
      position: absolute;
      top: -2px;
      right: 15px;

      a {
        @include typi($small-map);
        text-decoration: none;
        color: transparentize($white, .25);
      }
    }
  }
}

.nav-sm-container {
  display: none;
  position: absolute;
  z-index: 9999;
  top: $nav-main-height;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  color: $white;
  background: transparentize($stargazer-blue, 0.05);
  -webkit-backdrop-filter: brightness(1.5) blur(4px);
  backdrop-filter: brightness(1.5) blur(4px);
  padding-bottom: $nav-main-height;

  &:after {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    content: '';
    width: 100%;
    height: $nav-main-height;
    background-image:
      linear-gradient(
        transparentize($stargazer-blue, 1),
        $stargazer-blue
      );
  }

  & > div {
    padding: 15px;

    #aux-nav-sm {
      ul {
        @include list-style-none;
      }

      & > ul {
        margin-top: 0;

        & > li:first-child {
          margin: -2px 0 0 0;
        }

        & > li {
          text-align: right;

          ul {
            display: inline;

            li {
              margin: 0 0 0 vr(.75);
              padding: 0;
              display: inline;

              &:first-child {
                margin-left: 0;
              }

              a {
                @include typi($small-map);
                color: transparentize($white, 0.25);
                vertical-align: middle;
                border: 0;
              }
            }
          }
        }
      }
    }

    #main-nav-sm {
      a {
        color: $athens-gray;
        border-bottom: 0;
      }
    }

    #social-nav-sm {
      margin-top: vr(1);

      a {
        color: $athens-gray;
        border-bottom: 0;
      }

      ul {
        @include list-style-none;
        text-align: left;

        li {
          margin: 0 vr(.5) 0 0;
          text-align: center;
          display: inline-block;

          a {
            display: inline-block;
            width: vr(1.25);
            height: vr(1.25);
            line-height: vr(1.5);
            vertical-align: middle;
            font-size: vr(.75);
            background: transparentize(#000, .75);
            transition: background 0.5s;
            border-radius: 2px;

            &:hover {
              background: transparentize(#000, .65);
            }
          }
        }
      }
    }
  }
}

//
// Social color
//

.bg-twitter {
  background: $twitter !important;
}

.bg-youtube {
  background: $youtube !important;
}

.bg-facebook {
  background: $facebook !important;
}

.bg-linkedin {
  background: $linkedin !important;
}

.bg-podcast {
  background: $podcast !important;
}

.fg-twitter {
  color: $twitter !important;
}

.fg-youtube {
  color: $youtube !important;
}

.fg-facebook {
  color: $facebook !important;
}

.fg-linkedin {
  color: $linkedin !important;
}

.fg-podcast {
  color: $podcast !important;
}

//
// Language switch
//

.lang-switch {
  color: $white;

  span {
    transition: color 0.5s;
  }

  span:first-child {
    font-weight: bold;
  }

  &:hover {
    color: transparentize($white, .25) !important;

    span:first-child {
      color: transparentize($white, .25);
    }

    span:last-child {
      color: $white;
    }
  }
}

header.md {
  display: none;

  @include mappy-bp(medium) {
    display: block;
  }

 & > div:first-child {
    background: $stargazer-blue;
    padding: vr(.7) vr(1);
    font-size: 0;

    & > div {
      margin: 0 auto;
      max-width: $container-width;

      .logo {
        height: vr(1.25);
        width: auto;
      }

      nav {
        float: right;
        margin: 0 auto;
        text-align: right;

        ul {
          @include list-style-none;
          margin: 0;

          li {
            display: inline-block;
            margin: 0 vr(.75) 0 0;

            &:last-child {
              margin-right: 0;
            }

            a {
              @include typi($small-map);
              text-decoration: none;
              color: transparentize($white, .25);
              height: vr(1.25);
              line-height: vr(1.25);
              vertical-align: middle;

              &:hover {
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  & > div.main-nav-container {
    background: transparentize($prussian-blue, .10);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5002136,endColorstr=#e5002136); /* ie */
    padding: 0 vr(.5);
    width: 100%;

    & > div {
      margin: 0 auto;
      max-width: $container-width;

      .logo {
        display: none;
      }

      nav {
        position: relative;
        display: inline-block;

        ul {
          @include list-style-none;
          margin: 0;

          li {
            position: relative;
            display: inline-block;
            margin: 0;

            &:last-child {
              margin-right: 0;
            }

            a {
              text-decoration: none;
              padding: 10px 15px;
              display: inline-block;
              color: transparentize($white, .25);
              outline: none;
              transition: color 0.5s background 0.5s;

              &:hover {
                color: $white;
                background: transparentize($prussian-blue, .5);
              }
            }

            ul {
              visibility: hidden;
              opacity: 0;
              transition: visibility 0s, opacity 0.5s;
              position: absolute;
              top: $nav-main-height;
              top: ($nav-main-height + 1)\9;
              width: $nav-main-dd-width;
              z-index: 9999;
              padding: 0;
              margin: 0;
              background: transparentize($prussian-blue, .10);
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e5002136,endColorstr=#e5002136); /* ie */

              @include mappy-bp(large) {
                top: $nav-main-height-large;
              }

              ul {
                left: 100%;
                top: 0;
                margin: 0 !important;
              }

              li {
                width: $nav-main-dd-width;
                padding: 0;
                margin: 0 !important;

                a {
                  display: block;

                  &:hover {
                    background: lighten($stargazer-blue, 25);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.fixed {
    margin-bottom: 94px;

    @include mappy-bp(large) {
      top: $nav-main-height-large;
    }

    & > div:last-child {
      -webkit-backdrop-filter: brightness(1.5) blur(4px);
      backdrop-filter: brightness(1.5) blur(4px);
      box-shadow: 0 0 30px rgba(0,0,0,.5);
      position: fixed;
      top: 0;
      padding: 0 vr(1);
      background-color: transparentize($stargazer-blue, .025);
      -webkit-backdrop-filter: brightness(1.5) blur(4px);
      backdrop-filter: brightness(1.5) blur(4px);

      .logo {
        display: inline-block;
        height: vr(1);
        width: auto;
        line-height: vr(1);
        vertical-align: middle;
        margin-right: vr(.25);
        margin-top: -2px;
      }
    }
  }

}

html.no-js header.md > div.main-nav-container nav ul li:hover,
header.md > div.main-nav-container nav ul li:active,
header.md > div.main-nav-container nav ul li.nav-hover {
  transition: background-color 0.5s;
  background: transparentize($prussian-blue, 0.025) !important;

  & > a:hover {
    color: $white;
    background: transparentize($prussian-blue, 0.025) !important;
  }
}

html.no-js header.md > div.main-nav-container nav ul li:hover > ul,
header.md > div.main-nav-container nav ul li:active > ul,
header.md > div.main-nav-container nav ul li.nav-hover > ul {
  visibility: visible;
  opacity: 1;
  background: transparentize($prussian-blue, 0.025) !important;
  -webkit-backdrop-filter: brightness(1.5) blur(4px);
  backdrop-filter: brightness(1.5) blur(4px);
}

//
// Nav icon
//

.nav-icon {
  width: 24px;
  cursor: pointer;

  span {
    display: block;
    margin: 6px 0;
    background-color: transparentize($white, .25);
    width: 85%;
    height: 2px;
    border-radius: 2px;
    transition: transform .25s, background-color .5s;
  }

  span:nth-child(2) {
    width: 60%;
  }

  span:last-child {
    width: 75%;
  }

  &:hover {
    span {
      background-color: $white;
    }
  }
}

.nav-icon.open {
  span:first-child {
    width: 100%;
    transform: translateY(8px) rotate(45deg);
  }

  span:nth-child(2) {
    width: 0;
  }

  span:last-child {
    width: 100%;
    transform: translateY(-8px) rotate(-45deg);
  }
}

//
// Search form
//

.search-form {
  input::-webkit-input-placeholder {
    color: transparentize($white, .5);
  }
  input:focus::-webkit-input-placeholder {
    color: transparentize($white, .7);
  }

  /* Firefox < 19 */
  input:-moz-placeholder {
    color: transparentize($white, .5);
  }
  input:focus:-moz-placeholder {
    color: transparentize($white, .7);
  }

  /* Firefox > 19 */
  input::-moz-placeholder {
    color: transparentize($white, .5);
  }
  input:focus::-moz-placeholder {
    color: transparentize($white, .7);
  }

  /* Internet Explorer 10 */
  input:-ms-input-placeholder {
    color: transparentize($white, .5);
  }
  input:focus:-ms-input-placeholder {
    color: transparentize($white, .7);
  }
}


.nav-sm-container {
  .search-form {
    display: inline-block;
    width: 100%;
    position: relative;

    input {
      background: transparentize(#000, .75);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3f000000,endColorstr=#3f000000); /* ie */
      min-width: 100%;
      width: 100%;
      margin: 0 vr(.25) 0 0;
      padding: 0 vr(1.25) 0 vr(.5);
      border: 0;
      color: $athens-gray;
      transition: background 0.5s;

      &:focus {
        background: transparentize(#000, .65);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#59000000,endColorstr=#59000000); /* ie */
      }
    }

    a.search {
      position: absolute;
      top: 12px;
      right: 12px;
      background: url('../img/icon-search.svg') no-repeat;
      background: url('../img/icon-search.png') no-repeat\9;
      background-size: 100%;
      width: vr(.5);
      height: vr(.5) !important;
      opacity: .5;
      transition: opacity 0.5s;
      border: 0;

      &:hover {
        opacity: 1;
      }
    }
  }
}

header.md {
  .search-form {
    display: inline-block;
    padding: 0 vr(.5) 0 0;

    input {
      display: none;
      background: transparent;
      min-width: vr(8);
      max-width: vr(8);
      width: 180px;
      margin: 0 vr(.25) 0 0;
      padding: 0 vr(.25) 0 vr(.5);
      padding-top: vr(.125)\9;
      border: 0;
      color: $athens-gray;
    }

    a.search {
      display: inline-block;
      background: url('../img/icon-search.svg') no-repeat;
      background: url('../img/icon-search.png') no-repeat\9;
      background-size: 100%;
      width: vr(.5);
      height: vr(.5) !important;
      opacity: .5;
      transition: opacity 0.5s;
      border: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

  .search-form-active {
    transition: background 0.5s;
    background: transparentize(#000, .75);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3f000000,endColorstr=#3f000000); /* ie */

    input {
      display: inline-block;
    }
  }
}

//
// Secure
//

img.secure {
  margin-right: 6px;
  height: .8rem;
  width: 14px;
}

//
// Tree
//

ul.tree {
  @include list-style-none;
  padding-left: vr(.75);

  a {
    display: block;
    position: relative;
  }

  a.ux-change:after {
    position: absolute;
    top: 0px;
    margin-left: 5px;
    font-family: "fcc-icons" !important;
    content: "\61";
    color: transparentize($white, .5);
  }

  a:hover {
    color: transparentize($white, .5) !important;
  }

  ul {
    padding-left: vr(.75);
  }

  ul li ul {
    padding-left: vr(.5);
    margin-left: 1px;
    border-left: 3px solid transparentize($white, .75);
  }

  li i {
    font-style: normal;
  }

  li.p > i {
    position: relative;
    display: block;

    &:before {
      font-family: "fcc-icons" !important;
      position: absolute;
      left: -25px;
      content: "\6d";
    }
  }

  li.p.open {
    & > a {
      color: transparentize($white, .5) !important;
    }

    & > i {
      &:before {
        content: "\63";
      }
    }
  }

  ul {
    display: none;
  }
}

//
// Tertiary nav
//

#tertiary-nav {
  display: none;

  @include mappy-bp(medium) {
    display: block;
  }

  a {
    border-bottom: 0;
  }

  ul {
    @include list-style-none;

    & > li:first-child {
      text-transform: uppercase;
      margin-top: 0;

      & > ul li {
        text-transform: none;
        margin-top: vr(.5);
      }
    }

    li ul {
      @include typi($small-map)
      //padding-left: vr(.5);
      //margin-left: 1px;
      //border-left: 3px solid transparentize($stargazer-blue, .75);
    }
  }
}

//
// Social nav
//

#social-nav {
  display: none;
  margin-top: vr(1);

  @include mappy-bp(medium) {
    display: block;
  }

  a {
    color: $athens-gray;
    border-bottom: 0;
  }

  ul {
    @include list-style-none;
    text-align: left;

    li {
      margin: 0 vr(.25) 0 0;
      text-align: center;
      display: inline-block;

      a {
        display: inline-block;
        width: vr(1);
        height: vr(1);
        line-height: vr(1.2);
        vertical-align: middle;
        font-size: vr(.5);
        //background: transparentize(#000, .75);
        transition: background 0.5s;
        border-radius: 2px;

        &:hover {
          background: transparentize($stargazer-blue, .5) !important;
        }
      }
    }
  }
}

//
// Footer
//

footer {
  font-size: ms(2);

  // Links and Contact

  & > div:first-child {
    background: $prussian-blue;
    padding: 0;

    @include mappy-bp(medium) {
      padding: vr(1.5) vr(1);
    }

    & > div {
      @include clearfix;
      color: transparentize($white, .25);
      max-width: 940px;
      margin: 0 auto;
      overflow: auto;

      h5 {
        display: block;
        width: 100%;
        margin: 0;
        color: transparentize($white, .5);
        padding: vr(.25) vr(.5);
        position: relative;
        font-size: ms(2);
        cursor: pointer;

        &:after {
          position: absolute;
          top: vr(.25);
          right: vr(.5);
          font-family: "fcc-icons" !important;
          content: "\63";
        }

        &.open:after {
          content: "\62";
        }
      }

      ul {
        @include list-style-none;
        margin-top: -12px;
        display: none;
        padding: 0 vr(1) vr(.5) vr(1);

        li {
          margin-top: vr(.25);

          a {
            border-bottom: 0;
          }
        }
      }

      .about-fcc, .quick-links, .customer-service, .corporate-office {
        display: block;
        width: 100%;
        border-bottom: 1px solid transparentize($shark, 0.25);
      }

      .customer-service,
      .corporate-office {
        ul {
          @include list-style-none;

          li {
            margin-top: vr(.25);
          }

          label {
            color: transparentize($white, .5);
            display: block;
            vertical-align: bottom;
            font-size: ms(1);
            text-transform: uppercase;
          }

          span {
            display: block;
          }
        }

        &:last-child {
          margin: 0;
        }
      }

      @include mappy-bp(medium) {
        h5 {
          margin-top: vr(.5);
          border-bottom: 0;
          padding: 0;
          font-size: ms(3);
          cursor: default;

          &:after {
            content: '';
          }
        }

        ul {
          margin-top: 0;
          padding: 0;
          display: block !important;

          li {
            margin-top: vr(.25);
          }
        }

        .left {
          @include container;
          float: left;
          width: 50%;
          border-right: 1px solid lighten($prussian-blue, 8);
          text-align: right;
          padding-right: vr(1);
        }

        .right {
          @include container;
          float: left;
          width: 50%;
          border-left: 1px solid lighten($prussian-blue, 8);
          margin-left: -1px;
          padding-left: vr(1);
        }

        .about-fcc {
          @include span(6);
          border-bottom: none;
        }

        .quick-links {
          @include span(6 last);
          border-bottom: none;
        }

        .customer-service {
          @include span(6);
          border-bottom: none;
        }

        .corporate-office {
          @include span(6);
          border-bottom: none;
        }
      }
    }
  }

  // Site info

  & > div:nth-child(2) {
    background-color: $congress-blue;
    position: relative;
    height: 44px;
    overflow: hidden;

    &:after {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      right: 0;
      content: '';
      width: vr(1.5);
      height: 44px;
      background-image:
        linear-gradient(
          to right,
          transparentize($congress-blue, 1),
          $congress-blue
        );
    }

    & > div {
      @include clearfix;
      @include typi($small-map);
      height: 61px;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      nav {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
      }

      ul {
        @include list-style-none;
        margin: 0;

        li {
          margin: 0;
          display: inline-block;

          a {
            display: inline-block;
            border-bottom: 0;
            color: transparentize($white, .25);
            padding: vr(.5);
          }
        }
      }
    }

    @include mappy-bp(medium) {
      overflow-x: auto;

      & > div {
        margin: 0 auto;
        max-width: $container-width;
        width: 100%;
      }
    }
  }

  // Copyright and Canada

  & > div:last-child {
    padding: vr(.5);

    & > div {
      @include clearfix;
      margin: 0 auto;
      max-width: $container-width;
      text-align: center;

      small {
        margin-top: vr(.25);
        display: block;

        span {
          white-space: nowrap;
        }
      }

      .logo {
        margin-top: vr(.5);
        display: inline-block;
        height: 15px;
      }
    }

    @include mappy-bp(small) {
      & > div {
        text-align: left;

        small {
          margin-top: 0;
          float: left;
          display: block;
        }

        .logo {
          margin-top: 0;
          float: right;
          display: block;
        }
      }
    }
  }
}

//
// Wrap
//

.wrap {
  max-width: $container-width;
  margin: vr(.5) auto;
  padding: 0 vr(.5);

  @include mappy-bp(medium) {
    margin: vr(1.5) auto;
    padding: 0 vr(1);
  }
}


//
// Grid
//

.l-cs {
  & > div:first-child {
    //background: transparentize(mediumpurple, .75);


    @include mappy-bp(medium) {
      border-right: 1px solid $athens-gray;
      padding-right: vr(1);
    }
  }

  & > div:last-child {
    //background: transparentize(mediumturquoise, .75);
  }
}

.l-c {
}

.l-cs {
  //@include clearfix;
  @include container();

  > div:nth-child(1) {
    //background: transparentize(mediumpurple, .75);/// / fade-out($color: $color, $amount: 0);
    //border: 1px solid mediumpurple;

    @include mappy-bp(medium) {
      @include span(8);
    }
  }

  > div:nth-child(2) {
    //background: transparentize(rebeccapurple, .75);
    //border: 1px solid rebeccapurple;

    @include mappy-bp(medium) {
      @include span(4 last);
    }
  }
}

.l-g2 {
}

.l-g3 {
}

.l-g4 {
}

.l-gnw {
}
