/*! Tables */

.table {
    margin: vr(.5) 0 0 0;
    border-spacing: 0;
    width: 100%;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.14);
    th {
        text-align: left;
        padding: $table-cellpadding;
        font-weight: normal;
        font-family: $secondary-font-stack;
        &.center {
            text-align: center;
        }
        &.right {
            text-align: right;
        }
    }
    td {
        padding: $table-cellpadding;
        background: $athens-gray;
        border-bottom: 1px solid lighten($silver-sand, 10);
    }
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
    thead {
        background: $table-thead-background-color;
        color: $table-head-text-color;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
    }
    tfoot {
        background: $table-tfoot-background-color;
        color: $table-head-text-color;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
    }
    tbody th {
        background: $table-shead-background-color;
        color: $table-head-text-color;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .5);
    }
}

table.table-lined {
    tbody {
        tr {
            border-bottom: 1px solid $silver-sand;
        }
        tr:last-child {
            border: none;
        }
    }
}

$table-secondary-cell-leftpad: vr(2);
$table-secondary-vertical-pad: vr(.5);
$table-secondary-vertical-pad-headers: vr(.4);
$table-secondary-gutter-pad: vr(.1);

table.table-secondary {
    border-collapse: collapse;
    width: 100%;
    tbody {
        tr {
            td {
                padding-top: $table-secondary-vertical-pad;
                padding-bottom: $table-secondary-vertical-pad;
                padding-left: $table-secondary-cell-leftpad;
                vertical-align: middle;
            }
            td:first-child {
                padding-left: $table-secondary-gutter-pad;
            }
            td:last-child {
                padding-right: $table-secondary-gutter-pad;
            }
        }
    }
    thead,
    tfoot {
        tr {
            th {
                padding-left: $table-secondary-cell-leftpad;
                padding-top: $table-secondary-vertical-pad-headers;
                padding-bottom: $table-secondary-vertical-pad-headers;
                font-weight: normal;
                text-align: left;
                vertical-align: middle;
            }
            th:first-child {
                padding-left: $table-secondary-gutter-pad;
            }
            th:last-child {
                padding-right: $table-secondary-gutter-pad;
            }
        }
    }
    thead {
        tr {
            border-bottom: 3px solid $stargazer-blue;
            th {
                text-transform: uppercase;
            }
        }
    }
    tfoot {
        tr {
            border-top: 3px solid $oslo-gray;
        }
    }
}

$table-condensed-vertical-pad: vr(.1);
table.table-condensed {
    tbody {
        tr {
            td {
                padding-top: $table-condensed-vertical-pad;
                padding-bottom: $table-condensed-vertical-pad;
            }
        }
    }
    thead,
    tfoot {
        tr {
            th {
                padding-top: $table-condensed-vertical-pad;
                padding-bottom: $table-condensed-vertical-pad;
            }
        }
    }
}
