/*! Typography */

.primary-font {
  font-family: $primary-font-stack;
}

.secondary-font {
  font-family: $secondary-font-stack;
}

$h1-map: (
  null: (ms(7), vr(1.5))
);

$h2-map: (
  null: (ms(6), vr(1.25))
);

$h3-map: (
  null: (ms(5), vr(1))
);

$h4-map: (
  null: (ms(4), vr(1))
);

$h5-map: (
  null: (ms(3), vr(1))
);

$small-map: (
  null: (ms(2), vr(.5))
);

$btn-map: (
  null: (ms(3), vr(1.25))
);

$btn-lg-map: (
  null: (ms(4), vr(1.5))
);

$btn-sm-map: (
  null: (ms(2), vr(1))
);

$input-map: (
  null: (ms(3), vr(1))
);

html {
  @include typi-base();
  font-family: $primary-font-stack;
}

header, footer, nav {
  font-family: $secondary-font-stack;
}

button, input, textarea, select {
  font-family: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: $secondary-font-stack;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.01em;
}

h1 {
  @include typi($h1-map);
  margin: vr(2) 0 0 0;
  //color: $light-text-color;
}

h2 {
  @include typi($h2-map);
  margin: vr(1.5) 0 0 0;
  color: $heading-text-color;
}

h3 {
  @include typi($h3-map);
  margin: vr(1.5) 0 0 0;
  color: $heading-text-color;
}

h4 {
  @include typi($h4-map);
  margin: vr(1.5) 0 0 0;
  color: $heading-text-color;
}

h5 {
  @include typi($h5-map);
  margin: vr(1.5) 0 0 0;
  color: $heading-text-color;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: vr(.5);
}

p {
  margin: vr(.5) 0 0 0;
}

small {
  font-family: $secondary-font-stack;
  @include typi($small-map);
}

.btn {
  @include typi($btn-map);
  font-family: $secondary-font-stack;
  font-weight: 700;
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

input, textarea, select {
  @include typi($input-map);
  padding: vr(.25) vr(.5);
  vertical-align: middle;
}

.btn-lg {
  @include typi($btn-lg-map);
}

.btn-sm {
  @include typi($btn-sm-map);
}

// Quotes

q:before { content: open-quote; }
q:after { content: close-quote; }

:lang(en) q { quotes: '“' '”'; }
:lang(fr) q { quotes: '« ' ' »'; }

blockquote {
  margin: vr(.5) 0 0 0;
  padding: vr(.5) vr(1);
  border-left: vr(.25) solid $electric-blue;
  color: $light-text-color;
}

.pull-quote {
  margin: vr(.5) 0 0 0;
  padding: vr(.5) 0;
  //border-top: vr(.25) solid $stargazer-blue;
  //border-bottom: vr(.25) solid $congress-blue;
  color: $electric-blue;
  @include typi($h3-map);
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  //font-family: $secondary-font-stack;
  letter-spacing: -0.05rem;
}

//
// Links
//

a {
  color: $link-text-color;
  transition: color 0.5s ease;
  border-bottom: 1px solid $link-text-color;
  text-decoration: none;

  &:visited {

  }

  &:hover {
    border-bottom-color: transparent;
    color: darken($link-text-color, 10);
  }

  &:active {
    color: $link-text-active-color;
  }

  &.disabled {
    border-bottom: none;
    color: $link-text-disabled-color;
    pointer-events: none;
  }
}

//
// Lists
//

ul, ol {
  margin: vr(.5) 0 0 0;
  padding: 0;
  list-style: none;
}

li {
  margin: vr(.5) 0 0 vr(1);

  & ul, ol {
    margin-top: 0;
  }

  &:before {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: 50px;
    margin-left: -50px;
    text-align: right;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul li:before {
  padding-right: 16px;
  content: "•";
}

ol {
  counter-reset: item;
}

ol li:before {
  padding-right: 13px;
  counter-increment: item;
  content: counter(item) ".";
}

ul.list-style-none,
ol.list-style-none {
  @include list-style-none;
}
