/*! Variables */

//
// Layout
//

$breakpoints: (
  mini: 320px,
  small: 480px,
  medium: 940px,
  large: 1900px
);

//
// Colors
//

$stargazer-blue: rgb(0,62,107); // Stargazer Blue
$prussian-blue: rgb(0,33,54); // Prussian Blue
$congress-blue: rgb(6,90,163); // Congress Blue
$electric-blue: rgb(0,117,188); // Electric Blue
$sky-blue: rgb(90,163,210); // Sky Blue
$baby-blue: rgb(150,209,242); // Baby Blue
$white: rgb(255,255,255); // White
$athens-gray: rgb(238,240,242); // Athens Gray
$silver-sand: rgb(196,199,201); // Silver Sand
$oslo-gray: rgb(138,143,148); // Oslo Gray
$shuttle-gray: rgb(93,96,100); // Shuttle Gray
$bright-gray: rgb(48,52,64); // Bright Gray
$shark: rgb(46,48,50); // Shark

// Social colors
$twitter: #1da1f2;
$youtube: #cd201f;
$facebook: #3b5998;
$linkedin: #0077b5;
$podcast: #ba59e8;

// Primary colors
$primary-color: $stargazer-blue;
$primary-accent-color: $baby-blue;
$primary-background-color: $white;

// Secondary colors
$secondary-color: $prussian-blue;
$secondary-accent-color: $congress-blue;
$secondary-background-color: $athens-gray;

// Text colors
$text-color: $shark;
$light-text-color: $shuttle-gray;
$heading-text-color: $shark;
$link-text-color: $electric-blue;
$link-text-active-color: $baby-blue;
$link-text-disabled-color: $oslo-gray;

// Border colors
$border-color: $silver-sand;
$border-shadow-color: $athens-gray;

// Button colors
$primary-button-background-color: $stargazer-blue;
$primary-button-text-color: $white;

$secondary-button-background-color: $congress-blue;
$secondary-button-background-color: $white;

// Form colors
$form-focus-border-color: $sky-blue;
$form-disabled-background-color: $athens-gray;

// Table colors
$table-thead-background-color: $stargazer-blue;
$table-tfoot-background-color: $congress-blue;
$table-shead-background-color: $electric-blue;
$table-head-text-color: $white;

//
// Borders
//

$primary-border-radius: 2px;

//
// Typography
//

$ms-base: 9px;
$ms-ratio: 1.24;
$primary-font-stack: 'Noto Sans', arial, sans-serif;
$secondary-font-stack: 'Roboto', arial, sans-serif;

$typi: (
  null: (ms(3), 1.75),
  large: (ms(4), 1.75)
);

//
// Buttons
//

//$btn-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075) !default;
$btn-box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
$btn-active-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !default;

$btn-primary-color: $white !default;
$btn-primary-bg:  $congress-blue !default;
$btn-primary-border: $congress-blue !default;

$btn-secondary-color: $white !default;
$btn-secondary-bg: $bright-gray !default;
$btn-secondary-border: $shuttle-gray !default;

//
// Forms
//

$cursor-disabled: not-allowed !default;


//
// Tables
//

$table-cellpadding: vr(.25) vr(.5);

//
// Layout
//

$container-width: 70rem; // 17 * 60 = 1190px; 21 * 70 = 1470px

//
// Nav
//

$nav-main-height: 49px;
$nav-main-height-large: 56px;
$nav-main-dd-width: vr(10);
