/*! fcc.css v0.1.0 | (c) Farm Credit Canada | fcc-fac.ca */
@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/modular-scale/stylesheets/modular-scale";
@import "../../bower_components/typi/scss/typi";
@import "../../bower_components/mappy-breakpoints/mappy-breakpoints";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Roboto:400,400i,700,700i');
@import "variables";
@import "mixins";
@import "typography";
@import "icons";
@import "layout";
@import "card";
@import "buttons";
@import "forms";
@import "tables";
@import "article";

body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
