/*! style-guide.css v0.1.0 | (c) Farm Credit Canada | github.com/iwong/fcc-style-guide.git */
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/modular-scale/stylesheets/modular-scale";
@import "../../bower_components/typi/scss/typi";
@import "../../bower_components/mappy-breakpoints/mappy-breakpoints";
@import "variables";
@import "mixins";
@import "typography";

body.grid-on {
  background: #fff url(../style-guide/baseline30.png); // double base line-height 30 * 2 = 60
}

@include mappy-bp(large) {
  body.grid-on {
    background: #fff url(../style-guide/baseline37.png); // double large line-height 37 * 2 = 74
  }
}

.style-guide .wrap {
  padding: vr(.5);
  margin: 0 auto;

  & > :first-child {
      margin-top: 0;
  }

  & > :last-child {
      margin-bottom: 0;
  }
}

.section-heading {
  //box-shadow: 0 1px 0 $congress-blue; // border-bottom
  //outline: 1px solid red;
  //border-bottom: vr(.25) solid $electric-blue;
  //padding: vr(.25) 0; // vr(.75);
  text-transform: uppercase;
}

.section-sub-heading {
  background: $athens-gray;
  padding: vr(.25) vr(.75);
  text-transform: uppercase;
  border-radius: $primary-border-radius;
}
.section-sub-heading + h1 {
  margin-top: vr(.5);
}

#grid-control {
  position: fixed;
  top: vr(.25);
  right: vr(.25);
  opacity: .5;
}

//
// Logos
//

.logos {
  @include list-style-none;
  @include clearfix;

  li {
    margin: vr(.25) vr(.25) 0 0;
    float: left;
    background: $stargazer-blue;
    border-radius: $primary-border-radius;
    padding: vr(1);

    img {
      width: auto;
      height: vr(1.25) !important;

      @include mappy-bp(small) {
        width: auto;
        height: vr(1.75) !important;
      }
    }

    .meta {
      margin-top: vr(.5);
    }
  }
}

//
// Colors
//

.colors {
  @include list-style-none;
  margin-top: vr(.5);
  @include typi($small-map);
  box-shadow: 0 -1px 0 $athens-gray;

  & > li {
    @include clearfix;
    margin: 0;
    box-shadow: 0 1px 0 $athens-gray;

    @mixin line-height {
      height: vr(1.5);
      line-height: vr(1.5);
      vertical-align: middle;
    }

    .color-preview {
      float: left;
      display: block;
      width: vr(3);
      height: vr(6);
    }

    .color-meta {
      float: left;

      .color-name {
        @include line-height;
        display: block;
        padding: 0 vr(.5);
        width: vr(5);
      }

      .color-values {
        display: block;
        width: 100px;
        padding: 0 vr(.5);

        li {
          @include line-height;
          display: inline;
          float: left;
          width: vr(6.5);
          margin: 0;

          .type {
            background: $athens-gray;
            color: $oslo-gray;
            border-radius: $primary-border-radius;
            padding: .2em .5em;
            margin-right: .5em;
            font-size: .8em;
          }
        }
      }
    }

    @include mappy-bp(small) {
      .color-preview {
        height: vr(4.5);
      }

      .color-meta {
        .color-name {
          float: left;
        }

        .color-values {
          float: left;
        }
      }
    }

    @include mappy-bp(medium) {
      .color-preview {
        height: vr(1.5);
      }

      .color-meta {
        .color-values {
          width: inherit;
        }
      }
    }
  }
}

//
// Typography
//

$font-showcase-map: (
  null: (ms(13), vr(6))
);

.font-showcase {
  @include typi($font-showcase-map);
  color: $light-text-color;
}

//
// Links
//

.style-guide {
  .link-hover {
    border-bottom: none;
  }

  .link-active {
    border-bottom: none;
    color: $link-text-active-color;
  }
}

//
// Typeface test
//

#toggle-view {
  position: fixed;
  top: vr(.25);
  right: vr(.25);
  opacity: .5;
  font-size: 1rem;
}

#view-nav{
  position: fixed;
  top: vr(1);
  right: vr(.25);
  opacity: .5;
  font-size: 1rem;
  display: none;
}

body.single {
  #view-nav {
    display: inline;
  }
}

.tf {
  position: absolute;
  top: vr(.25);
  left: vr(.25);

  span {
    background: transparentize(mediumpurple, .2);
    padding: vr(.125) vr(.25);
    color: $white;
  }

  span#swap {
    border-left: 1px solid $white;
    background: transparentize(blue, .3);
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  span:last-child {
    border-left: 1px solid $white;
    background: transparentize(red, .3);
  }

  span.ok {
    background: transparentize(green, .3);
  }
}

//
// Icons
//

.icons {
  @include list-style-none;
  @include clearfix;
  background: $stargazer-blue;
  border-radius: $primary-border-radius;
  padding: 0;

  li {
    float: left;
    padding: vr(.25) vr(.5);
    margin: 0;

    img {
      width: auto;
      height: vr(.5) !important;
    }
  }
}
