<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>FCC Style Guide</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/fcc.css" />
    <link rel="stylesheet" href="css/style-guide.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicons/manifest.json">
    <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#003E6B">
    <meta name="theme-color" content="#ffffff">
    <style>
      .ss-seperator {
        padding: 20px;
      }

    </style>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/rem/1.3.4/js/rem.min.js"></script>
    <![endif]-->
  </head>
  <body class="style-guide">
    <div class="wrap">
      <h1>FCC Style Guide</h1>

      <h2 class="section-heading">Layout</h2>
      <p>Single-direction margin declarations, <strong>margin-top</strong>.</p>

      <h3 class="section-sub-heading">Container size</h3>
      <p>Custom responsive grid system.</p>
      <table class="table">
        <thead>
          <tr>
            <th>viewport width</th>
            <th>font-size</th>
            <th>line-height</th>
            <th colspan="2" class="center">container max-width</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="3"></th>
            <th>rem</th>
            <th>px</th>
          </tr
          <tr>
            <td>&lt; 1900px</td>
            <td>17px</td>
            <td>30px</td>
            <td>60rem</td>
            <td>1020px</td>
          </tr>
          <tr>
            <td>&ge; 1900px</td>
            <td>21px</td>
            <td>37px</td>
            <td>60rem</td>
            <td>1260px</td>
          </tr>
        </tbody>
      </table>

      <h2 class="section-heading">Logos</h2>
      <ul class="logos">
        <li>
          <div class="logo"><img src="img/logo-fcc.svg" onerror="this.onerror=null; this.src='img/logo-fcc.png'" alt="Farm Credit Canada" /></div>
          <div class="meta">
            <a href="img/logo-fcc.svg" target="_blank" class="btn btn-sm">SVG</a>
            <a href="img/logo-fcc.png" target="_blank" class="btn btn-sm">@2x PNG</a>
          </div>
        </li>
        <li>
          <div class="logo"><img src="img/logo-fcc-tag-e.svg" onerror="this.onerror=null; this.src='img/logo-fcc-tag-e.png'" alt="Farm Credit Canada" /></div>
          <div class="meta">
            <a href="img/logo-fcc-tag-e.svg" target="_blank" class="btn btn-sm">SVG</a>
            <a href="img/logo-fcc-tag-e.png" target="_blank" class="btn btn-sm">@2x PNG</a>
          </div>
        </li>
        <li>
          <div class="logo"><img src="img/logo-fcc-tag-f.svg" onerror="this.onerror=null; this.src='img/logo-fcc-tag-f.png'" alt="Financement agricole Canada" /></div>
          <div class="meta">
            <a href="img/logo-fcc-tag-f.svg" target="_blank" class="btn btn-sm">SVG</a>
            <a href="img/logo-fcc-tag-f.png" target="_blank" class="btn btn-sm">@2x PNG</a>
          </div>
        </li>
      </ul>

      <h2 class="section-heading">Colours</h2>

      <h3 class="section-sub-heading">Primary Colour Palette</h3>
      <ul class="colors primary-color-pallete"></ul>

      <h3 class="section-sub-heading">Grays</h3>
      <ul class="colors grays"></ul>

      <script id="color-template" type="text/x-handlebars-template">
        {{#each colors}}
        <li class="color">
          <span class="color-preview" style="background-color: {{hex}};"></span>
          <div class="color-meta">
            <span class="color-name">{{name}}</span>
            <ul class="color-values">
              <li>
                <span class="type">HEX</span>
                <span class="value">{{hex}}</span>
              </li>
              <li>
                <span class="type">RGB</span>
                <span class="value">{{rgb}}</span>
              </li>
              <li>
                <span class="type">SCSS</span>
                <span class="value">{{scss}}</span>
              </li>
            </ul>
           </div>
        </li>
        {{/each}}
      </script>

      <h2 class="section-heading">Typography</h2>
      <p>Modular scale base 9px, scale 1.24. Regular ms 3, baseline 30px; large (>1900px), ms 4 baseline 37px.</p>

      <h3 class="section-sub-heading">Fonts</h3>

      <div>
        <p class="font-showcase primary-font">Mg</p>
        <p>Noto Sans &mdash; usage: body text</p>
        <small><em>from <a href="https://fonts.google.com/specimen/Noto+Sans" target="_blank">Google Fonts</a></em></small>
      <div>

      <div>
        <p class="font-showcase secondary-font">Mg</p>
        <p>Roboto &mdash; usage: navigation, headings</p>
        <small><em>from <a href="https://fonts.google.com/specimen/Roboto" target="_blank">Google Fonts</a></em></small>
      </div>

      <h3 class="section-sub-heading">Headings &mdash; h1, h2, h3, h4, h5</h3>
      <h1>The quick brown fox jumps over the lazy dog</h1>
      <h2>The quick brown fox jumps over the lazy dog</h2>
      <h3>The quick brown fox jumps over the lazy dog</h3>
      <h4>The quick brown fox jumps over the lazy dog</h4>
      <h5>The quick brown fox jumps over the lazy dog</h5>

      <h3 class="section-sub-heading">Paragraph, small</h3>
      <p>The quick brown fox jumps over the lazy dog</p>
      <small>The quick brown fox jumps over the lazy dog</small>

      <h3 class="section-sub-heading">Links</h3>
      <ul>
        <li><a href="#">Default</a></li>
        <li><a href="#">Visited</a></li>
        <li><a href="#" class="link-hover">Hover</a></li>
        <li><a href="#" class="link-active">Active</a></li>
        <li><a href="#" class="disabled">Disabled</a></li>
      </ul>

      <h3 class="section-sub-heading">Quotes &mdash; blockquotes, pull quotes</h3>
      <p>Blockquotes are used for external citation.</p>
      <blockquote><q>The quick brown fox jumps over the lazy dog</q></blockquote>
      <p>Pull quotes are short excerpts from the current passage.</p>
      <p class="pull-quote">The quick brown fox jumps over the lazy dog</p>

      <h3 class="section-sub-heading">Lists &mdash; ul, ol</h3>
      <p>Example of an unordered list.</p>
      <ul>
        <li>The quick brown fox jumps over the lazy dog</li>
        <li>The quick brown fox jumps over the lazy dog
          <ul>
            <li>The quick brown fox jumps over the lazy dog</li>
          </ul>
        </li>
      </ul>
      <p>Example of an ordered list.</p>
      <ol>
        <li>The quick brown fox jumps over the lazy dog</li>
        <li>The quick brown fox jumps over the lazy dog</li>
        <li>The quick brown fox jumps over the lazy dog</li>
      </ol>

      <h2 class="section-heading">Buttons</h2>

      <h3 class="section-sub-heading">Button state</h3>
      <p>Primary</p>
      <button class="btn">Primary </button>
      <button class="btn" disabled>Primary disabled</button>

      <p>Secondary</p>
      <a href="#" class="btn btn-secondary">Secondary</a>
      <a href="#" class="btn btn-secondary disabled">Secondary disabled</a>

      <h3 class="section-sub-heading">Button sizes</h3>
      <p>Large buttons</p>
      <button class="btn btn-lg">Large button</button>
      <a href="#" class="btn btn-lg btn-secondary">Large button</a>

      <p>Small buttons</p>
      <button class="btn btn-sm">Small button</button>
      <a href="#" class="btn btn-sm btn-secondary">Small button</a>

      <p>Full width buttons</p>
      <button class="btn btn-block">Block level button</button>
      <a href="#" class="btn btn-secondary btn-block">Block level button</a>


      <h2 class="section-heading">Forms</h2>
      <h3 class="section-sub-heading">Stacked</h3>

      <form class="form-stacked">
        <fieldset>
          <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Email" />
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Password" />
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" /> Checkbox group a
            </label>
            <label>
              <input type="checkbox" /> Checkbox group a
            </label>
          </div>

          <div class="form-group">
            <label>
              <input type="checkbox" /> Checkbox group b
            </label>
            <label>
              <input type="checkbox" /> Checkbox group b
            </label>
          </div>

          <div class="form-group">
            <label>
              <input type="radio" name="radio[]" /> Radio group
            </label>
            <label>
              <input type="radio" name="radio[]" /> Radio group
            </label>
          </div>

          <div class="form-group">
            <label>Select</label>
            <select>
              <option>Option A</option>
              <option>Option B</option>
              <option>Option C</option>
            </select>
          </div>

          <div class="form-group">
            <label>Textarea</label>
            <textarea rows="3"></textarea>
          </div>

          <div class="form-control">
            <button class="btn">Submit</button>
          </div>
        </fieldset>
      </form>

      <h3 class="section-sub-heading">Aligned</h3>

      <form class="form-aligned">
        <fieldset>
          <div class="form-group">
            <label>Email</label>
            <input type="text" placeholder="Email" />
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Password" />
          </div>

          <div class="form-group checkbox">
            <label>
              <input type="checkbox" /> Checkbox
            </label>
          </div>

          <div class="form-group">
            <label>Select</label>
            <select>
              <option>Option A</option>
              <option>Option B</option>
              <option>Option C</option>
            </select>
          </div>

          <div class="form-group">
            <label>Textarea</label>
            <textarea rows="3"></textarea>
          </div>

          <div class="form-control">
            <button class="btn">Submit</button>
          </div>
        </fieldset>
      </form>

      <h3 class="section-sub-heading">Inline</h3>

      <form class="form-inline">
        <fieldset>
          <div class="form-group">
            <input type="text" placeholder="Email" />
          </div>

          <div class="form-group">
            <input type="password" placeholder="Password" />
          </div>

          <div class="form-group checkbox">
            <label>
              <input type="checkbox" /> Checkbox
            </label>
          </div>

          <div class="form-control">
            <button class="btn">Submit</button>
          </div>
        </fieldset>
      </form>

      <h2 class="section-heading">Tables</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Column A</th>
            <th>Column B</th>
            <th>Column C</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th colspan="3">Sub heading</th>
          </tr>
          <tr>
            <td>Content A</td>
            <td>Content B</td>
            <td>Content C</td>
          </tr>
          <tr>
            <td>Content D</td>
            <td>Content E</td>
            <td>Content F</td>
          </tr>
          <tr>
            <th colspan="3">Sub heading</th>
          </tr>
          <tr>
            <td>Content A</td>
            <td>Content B</td>
            <td>Content C</td>
          </tr>
          <tr>
            <td>Content D</td>
            <td>Content E</td>
            <td>Content F</td>
          </tr>
        </tbody>
        <!--<tfoot>
          <tr>
            <th>Column A</th>
            <th>Column B</th>
            <th>Column C</th>
          </tr>
        </tfoot>-->
      </table>

      <div class="ss-seperator"></div>

      <table class="table-secondary table-condensed">
        <thead>
          <tr>
            <th>Column A</th>
            <th>Column B</th>
            <th>Column C</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content A</td>
            <td>Content B</td>
            <td>Content C</td>
          </tr>
          <tr>
            <td>Content D</td>
            <td>Content E</td>
            <td>Content F</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Footer A</th>
            <th>Footer B</th>
            <th>Footer C</th>
          </tr>
        </tfoot>
      </table>

      <div class="ss-seperator"></div>

      <table class="table-secondary table-lined">
        <thead>
          <tr>
            <th>Column A</th>
            <th>Column B</th>
            <th>Column C</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content A</td>
            <td>Content B</td>
            <td>Content C</td>
          </tr>
          <tr>
            <td>Content D</td>
            <td>Content E</td>
            <td>Content F</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>Footer A</th>
            <th>Footer B</th>
            <th>Footer C</th>
          </tr>
        </tfoot>
      </table>

      <h2 class="section-heading">Icons</h2>
      <ul class="icons">
        <li>
          <div class="logo"><img src="img/icon-search.svg" /></div>
        </li>
        <li>
          <div class="logo"><img src="img/icon-secure.svg" /></div>
        </li>
      </ul>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="style-guide/style-guide.js"></script>
  </body>
</html>
